<!DOCTYPE html>
<html>
<head>
	<title>Lets Date</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">


    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
       integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
       <script src="/socket.io/socket.io.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Lets Date</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class = "container">
    <h4> Hi <div id = "currentUser"> <%= currentUser.split("@")[0] %> </div>  welcome </h4>

<div id = "notifications">
<div class = "container">
    <strong> Your Notifications : </strong>
</div>
<br>
    <ul id = "notification-list" style="list-style: none;">
    </ul>

</div>



<div id = "profiles">
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% users.forEach(function(user){ %>
        <% if(user.name != currentUser ){ %>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= user.image%>" height="270px" width="60px">
                    <div class="caption" id="<%= user.name %>">
                        <div class = "considerUser">
                        <%= user.name %>
                        </div>
                        <br>
                        <p>

                            <button type="button" class ="like-btn btn btn-primary">Like</button>
                           <button type="button" class ="superlike-btn btn btn-success">Super Like</button>
                            <button type="button" class ="block-btn btn btn-danger">Block</button>

                        </p>
                    </div>
                </div>
            </div>

            <% }}) %>
        </div>
    </div>

</div>
<script src="/js/script.js"></script>
</body>
</html>